/**
 * Single product page css
 */

form.wgc-preview-form .wgc-flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

form.wgc-preview-form .wgc-flex-container div{
    margin: 5px;
}

form.wgc-preview-form .button.alt {
    margin-bottom: 5px;
}

form.wgc-preview-form .wgc-flex-container img{
    margin: auto;
}