/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/*content: url("../img/wallet-giftcard.svg");*/
body.woocommerce-account ul li.woocommerce-MyAccount-navigation-link--woo-gift-card a:before {
    content: "\f555";
}


@media (min-width: 768px) {

    table.my_account_woo-gift-card {
        font-size: 0.875em;
    }

}

.my_account_woo-gift-card .button {
    padding: 0.6180469716em 0.875em;
    font-size: 0.875em;
    margin-right: 0.236em;
}

table.shop_table_responsive.my_account_woo-gift-card .order-actions {
    text-align: right;
}

table.shop_table_responsive.my_account_woo-gift-card .order-actions::before {
    display: none;
}