/**
 * All of the CSS for your about-specific functionality should be
 * included in this file.
 */

.wgc-center {
    text-align: center;
}

.wgc-container {
    max-width: 90%;
    margin: auto;
}

.wgc-head {}

.wgc-content {
    background-color: white;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 800px) {
    .wgc-container {
        max-width: 95%;
    }
}

.wgc-tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.wgc-tablink:hover,
.open-tab {
    background-color: #777;
}

.wgc-tabcontent {
    display: none;
    height: 100%;
}

table.wgc-environment {
    width: 100%;
    border-spacing: 0px;
}

table.wgc-environment tr:nth-child(even) {
    background-color: #eee;
}

table.wgc-environment tr:nth-child(odd) {
    background-color: #fff;
}

table.wgc-environment th {
    color: white;
    background-color: #eee;
    color: black;
    text-align: left;
}

table.wgc-environment th,
table.wgc-environment td {
    padding: 15px;
}

table.wgc-environment .wgc-status-ok {
    color: green;
}

table.wgc-environment .wgc-status-upgrade {
    color: red;
}