/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

h1.wgc-about{
    text-align: center;
}

div.wgc-flex-container table{
    border: 1px solid black;
    margin: 5px;
}

div.wgc-flex-container table th{
    border-bottom: 1px solid black;
}

div.wgc-flex-container table, div.wgc-flex-container table th, div.wgc-flex-container table td {
    border-collapse: collapse;
}

div.wgc-flex-container table th, div.wgc-flex-container table td {
    padding: 10px;
}

div.wgc-flex-container table td:not(:first-child) {
    text-align: center;
}

div.wgc-flex-container table.wgc-versions th:not(:first-child) {
    width: 20%;
}

div.wgc-flex-container table strong.wgc-status-ok{
    color: green;
}

div.wgc-flex-container table strong.wgc-status-upgrade{
    color: red;
}

div.wgc-flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(100% - 20px);
}

div.wgc-flex-container table.wgc-versions{
    flex-grow: 3;
}

div.wgc-flex-container table.wgc-dependencies{
    flex-grow: 2;
}